// Bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap&subset=latin-ext');

@import "colors";

html, body {
  font-family: 'Roboto', sans-serif;
  color: $dark-grey;
  letter-spacing: 1px;
}

.main-content {
  min-height: calc(100vh - 101px);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.object {
  height: 200px;
  margin: 15px 0;
  -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.location {
  color: #434343;
  font-size: 12px;
}

.grade {
  color: #f5a623;
}

.obj-details {
  background-color: #FFF;
  border-radius: 10px;
  padding: 20px 25px;
  color: #080b15;
  position: fixed;
  bottom: 0;
  width: 100%;
  h5 {
    font-weight: 500;
  }
  div {
    display: flex;
    justify-content: space-between;
  }
}
